*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-image: url(giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
center{
    margin: 150px 350px;
    height: 40vh;
    padding: 30px;
    border-radius: 50px;
    border: 2px solid white ;
}
.row{
    gap: 20px;
}
#display{
    border-radius: 20px;
}
.row button{
    width: 120px;
}
#num{
    margin: 0px 20px;
    width: 250px;
}
@media screen and (max-width: 805px) {
    body{
        height: 80vh;
    }
    center{
        margin: 140px 80px;
        width: 300px;
        padding: 50px 0px;
        height: 50vh;
    }
    .row{
        margin-left: 0px;
    }
    #num{
        margin-left: 0px;
        width: 320px;
    }
.row button{
    width: 300px;
}
}